.png {
    text-align: center;
}
.zag {
    font-family: "arial";
    font-weight: bold;
    font-size: 35px;
    margin-left: 32%;
    margin-top: 15px;
}
.foto2 {
    display: flex;
    justify-content: center;
}
.txt {
    font-family: "arial";
    font-weight: normal;
    font-size: 20px;
    margin-left: 490px;
    margin-top: -40px;
}
.flx {
    display: flex;
}
.txt2 {
    font-family: "arial";
    font-weight: normal;
    font-size: 20px;
    margin-left: 200px;
    margin-top: -40px;
}
.dol1 {
    font-family: "arial";
    font-weight: bold;
    font-size: 15px;
    margin-left: 490px;
    color: #489DFF;
    margin-top: -10px; 
}
.dol2 {
    font-family: "arial";
    font-weight: bold;
    font-size: 15px;
    margin-left: 240px;
    color: #489DFF;
    margin-top: -10px
}
.but {
    background-color: #489DFF;
    margin-left: 490px;
    width: 120px;
    height: 40px;
    border-radius:5px;
    border: none;
    color: white;
    margin-top: 10px;
    font-family: "arial";
    font-weight: bold;
    font-size: 15px;
}
.but2 {
    background-color: #489DFF;
    margin-left: 155px;
    width: 120px;
    height: 40px;
    border-radius:5px;
    border: none;
    color: white;
    margin-top: 10px;
    font-family: "arial";
    font-weight: bold;
    font-size: 15px;
}
.kon {
    text-align: center;
    font-family: "arial";
    font-weight: lighter;
    font-size: 12px;
    margin-top: 65px;
}

